<!DOCTYPE html>
<html lang="en">
    
<head>
    <%- include("./partials/head.ejs") %>
</head>

<body>
    <%- include("./partials/header.ejs") %>
    <!-- <section class="banner">
        <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
    </section> -->
    <main class="main-mid">
        <h2 class="title_section">Basado en tu última visita</h2>
        <!-- Sección Basado en tu ultima visita -->
        <section class="product-section">
            <% products.map((product)=>{ %>
            
            <div class="producto">
                <img src="<%= product.img %>"
                    alt="<%= product.name %>">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$ <%= product.price %></p>
                        <p class="discount"> <%= product.discount %></p>
                    </div>
                    <p class="description"> <%= product.description %></p>
                </div>
            </div>
            
            <% }) %>
        </section>
        
        <h2 class="title_section">Ofertas</h2>
        <section class="offer-section">
            <% products.map ((product)=>{ %>

            <div class="oferta">
                <img src="<%= product.img %>"
                    alt="<%= product.name %>">
                <div class="producto-info">
                    <div class="send-icon"><i class="fa-solid fa-truck"></i></div>
                    <div class="producto-info-price">
                        <p class="price">$<%= product.price %></p>
                        <p class="discount"><%= product.discount %></p>
                    </div>
                    <p class="description"><%= product.description %></p>
                </div>
            </div>

            <% }) %>
        </section>
    
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>